In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
print('imports done.')

imports done.

In [2]:
# reading in files (weeks)
wk1 = pd.read_csv("tracking_week_1.csv", na_values=["NA"])
wk2 = pd.read_csv("tracking_week_2.csv", na_values=["NA"])
wk3 = pd.read_csv("tracking_week_3.csv", na_values=["NA"])
wk4 = pd.read_csv("tracking_week_4.csv", na_values=["NA"])
wk5 = pd.read_csv("tracking_week_5.csv", na_values=["NA"])
wk6 = pd.read_csv("tracking_week_6.csv", na_values=["NA"])
wk7 = pd.read_csv("tracking_week_7.csv", na_values=["NA"])
wk8 = pd.read_csv("tracking_week_8.csv", na_values=["NA"])
wk9 = pd.read_csv("tracking_week_9.csv", na_values=["NA"])

# other stuff
player_play = pd.read_csv("player_play.csv", na_values=["NA"])
games = pd.read_csv("games.csv", na_values=["NA"])
players = pd.read_csv("players.csv", na_values=["NA"])
plays = pd.read_csv("plays.csv", na_values=["NA"])

print('charts read in.')

charts read in.

In [3]:
# attempt to combine all into one df

# declare list of all weeks
weeks = [wk1, wk2, wk3, wk4, wk5, wk6, wk7, wk8, wk9]

# concat
df = pd.concat(weeks, ignore_index=True)

# successfully combined
# time: 51.4s
print('big data set (df) formed, with dimensions: ', df.shape)

#view
df.head(5)

big data set (df) formed, with dimensions:  (59327373, 18)

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,51.06,28.55,0.72,0.37,0.07,246.17,68.34,huddle_break_offense
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,51.13,28.57,0.71,0.36,0.07,245.41,71.21,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,51.20,28.59,0.69,0.23,0.07,244.45,69.90,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,51.26,28.62,0.67,0.22,0.07,244.45,67.98,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,51.32,28.65,0.65,0.34,0.07,245.74,62.83,NaN

In [4]:
# big df to csv, to save in folder
df.to_csv("combined_weeks.csv", index=False)
print('succesfully saved big df as csv to folder.')

# time: 3m 43.3s

succesfully saved big df as csv to folder.

In [5]:
# now combining df + player_play
df1 = pd.merge(df, player_play, on=["gameId", "playId", "nflId"], how="inner")

# it worked
print('big data set (df1) formed, with dimensions: ', df1.shape)
df1.head(5)

big data set (df1) formed, with dimensions:  (56747802, 65)

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,...,wasRunningRoute,routeRan,blockedPlayerNFLId1,blockedPlayerNFLId2,blockedPlayerNFLId3,pressureAllowedAsBlocker,timeToPressureAllowedAsBlocker,pff_defensiveCoverageAssignment,pff_primaryDefensiveCoverageMatchupNflId,pff_secondaryDefensiveCoverageMatchupNflId
0,2022091200,64,35459.0,Kareem Jackson,1,BEFORE_SNAP,2022-09-13 00:16:03.5,22.0,DEN,right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022091200,64,35459.0,Kareem Jackson,2,BEFORE_SNAP,2022-09-13 00:16:03.6,22.0,DEN,right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022091200,64,35459.0,Kareem Jackson,3,BEFORE_SNAP,2022-09-13 00:16:03.7,22.0,DEN,right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022091200,64,35459.0,Kareem Jackson,4,BEFORE_SNAP,2022-09-13 00:16:03.8,22.0,DEN,right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022091200,64,35459.0,Kareem Jackson,5,BEFORE_SNAP,2022-09-13 00:16:03.9,22.0,DEN,right,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# checking causedPressure
# Filter the DataFrame for the specific gameId, playId, and nflId
filtered_data = df1[(df1['gameId'] == 2022091200) & (df1['playId'] == 64) & (df1['nflId'] == 35459)]

# Print the value of 'causedPressure' for the filtered row
print(filtered_data['causedPressure'].iloc[0])  # .iloc[0] retrieves the first row of the filtered data

False

In [9]:
# checking tackleAssist
# Filter the DataFrame for the specific gameId, playId, and nflId
filtered_data = df1[(df1['gameId'] == 2022091200) & (df1['playId'] == 64) & (df1['nflId'] == 35459)]

# Print the value of 'causedPressure' for the filtered row
print(filtered_data['tackleAssist'].iloc[0])  # .iloc[0] retrieves the first row of the filtered data

0

In [10]:
# checking teamAbbr
# Filter the DataFrame for the specific gameId, playId, and nflId
filtered_data = df1[(df1['gameId'] == 2022091200) & (df1['playId'] == 64) & (df1['nflId'] == 35459)]

# Print the value of 'causedPressure' for the filtered row
print(filtered_data['teamAbbr'].iloc[0])  # .iloc[0] retrieves the first row of the filtered data

DEN

In [11]:
# checking penaltyNames
# Filter the DataFrame for the specific gameId, playId, and nflId
filtered_data = df1[(df1['gameId'] == 2022091200) & (df1['playId'] == 64) & (df1['nflId'] == 35459)]

# Print the value of 'causedPressure' for the filtered row
print(filtered_data['penaltyNames'].iloc[0])  # .iloc[0] retrieves the first row of the filtered data

nan